# Hugging Face Configuration (Optional)
HF_TOKEN=your_HF_token

# Groq API Configuration
GROQ_API_KEY=your_groq_api_key_here

# Qdrant Vector DB Configuration
QDRANT_URL=https://your-qdrant-cluster-url.qdrant.io
QDRANT_API_KEY=your_qdrant_api_key_here
